*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.calc{
	width: 100%;
	max-width: 300px;
	padding: 10px;
	background-color: silver;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	position: absolute;
	text-align: center;
}

form input[type="number"]{
	width: 200px;
	padding: 5px;
	margin-top: 10px;
	outline: 0;
}

form input[type="submit"]{
	width: 150px;
	padding: 5px;
	margin-top: 10px;
	outline: 0;
	cursor: pointer;
}

form select[name="operacao"]{
	width: 200px;
	padding: 5px;
	margin-top: 10px;
	outline: 0;
}

.calc h2{
	color: blue;
}